* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
}
.hidden {
  display: none !important;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #1A3A58;
  color: #FFF;
  text-transform: uppercase;
}
header h1 {
  text-align: center;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 15px 10px 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  border-left: 2px solid #D8A800;
}
header h2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  border-bottom: 2px solid #D8A800;
}
header .menu__img {
  margin: 10px;
  position: fixed;
  top: 0;
  right: 0;
}
.principal {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/index.png);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal__contenido {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 267px;
}
.principal__contenido p {
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #D8A800;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 31px;
  color: #FFF;
}
.principal__contenido strong {
  font-size: 35px;
}
.principal__contenido h2 {
  font-size: 32px;
  font-weight: 500;
  color: #ffff;
  border-bottom: 2px solid #1A3A58;
  margin: 10px;
}
.contentindex {
  text-align: center;
}
.contentindex__txt1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  border: 2px solid #D8A800;
  border-radius: 30px;
  margin: 48px;
  padding: 10px;
  line-height: 25px;
}
.contentindex strong {
  font-size: 30px;
}
.objetivos {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img1.PNG);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.objetivos__contenido {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  width: 100%;
  padding: 30px;
  bottom: 267px;
}
.objetivos__contenido p:nth-child(1) {
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #D8A800;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 25px;
  color: #FFF;
}
.objetivos__contenido p:nth-child(2) {
  margin-top: -14px;
  margin-bottom: 1rem;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 10px;
  color: #FFF;
}
.objetivos__contenido strong {
  font-size: 30px;
}
.arrow__contenido {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/iconos/arrow_index.svg);
  opacity: 0.9;
  background-position: right top;
  background-size: 170px;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: auto;
  height: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  text-align: center;
  margin-top: 80px;
}
.arrow__contenido p {
  line-height: 30px;
  text-align: center;
  font-size: 30px;
}
.ajedrez {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img2.jpg);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ajedrez__contenido {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: -222vw;
}
.ajedrez__contenido img {
  width: auto;
  height: 95px;
  position: absolute;
  bottom: 15vw;
}
.ajedrez__contenido p {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
  line-height: 26px;
  color: #FFF;
  text-align: right;
  position: relative;
  bottom: -8vw;
}
.ajedrez__contenido strong {
  font-size: 30px;
  color: #FFF;
  line-height: 15px;
}
.utilidades {
  text-align: justify;
  font-size: 20px;
  margin: 35px;
  line-height: 26px;
}
.utilidades strong {
  font-size: 30px;
}
.especialistas {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img3.jpg);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.especialistas__contenido {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  width: 79%;
  padding: 30px;
  position: relative;
  bottom: -49px;
}
.especialistas__contenido p {
  margin-top: 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #D8A800;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #FFF;
  line-height: 20px;
}
.implementacion {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/iconos/chek_index.svg);
  opacity: 0.9;
  background-position: right top;
  background-size: 170px;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 25px;
}
.implementacion p {
  font-size: 20px;
  margin-bottom: 98px;
  line-height: 30px;
}
.implementacion strong {
  font-size: 30px;
}
.qsomos {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/qsomos.jpg);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.qsomos__title {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  width: 100%;
  padding: 27px;
  position: absolute;
  bottom: 370px;
  margin-top: auto;
}
.qsomos P {
  color: #FFF;
  font-size: 27px;
  border-left: 2px solid #D8A800;
}
.qsomos strong {
  font-size: 50px;
  line-height: 30px;
}
.one {
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 45px 0px 0px 45px;
  background: #0c1d2e;
  background: linear-gradient(-195deg, rgba(12, 29, 46, 0.5) 35%, rgba(12, 29, 46, 0.5) 51%);
  color: #FFF;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}
.one__contenido {
  line-height: 15px;
}
.one__contenido p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.one strong {
  font-size: 16px;
}
.two {
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 0px 45px 45px 0px;
  background: #d8a800;
  background: linear-gradient(-195deg, rgba(216, 168, 0, 0.59427521) 35%, rgba(216, 168, 0, 0.49623599) 51%);
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.two__contenido {
  line-height: 15px;
}
.two__contenido p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.two strong {
  font-size: 16px;
}
.three {
  margin: 12px 0px 25px;
  width: 328px;
  height: 131px;
  padding: 10px;
  border-radius: 50px 0px 0px 50px;
  background: #0c1d2e;
  background: linear-gradient(-195deg, rgba(12, 29, 46, 0.5) 35%, rgba(12, 29, 46, 0.5) 51%);
  color: #FFF;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}
.three__contenido {
  line-height: 15px;
}
.three__contenido p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.three strong {
  font-size: 15px;
}
.four {
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 0px 45px 45px 0px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d8a800;
  background: linear-gradient(-195deg, rgba(216, 168, 0, 0.59427521) 35%, rgba(216, 168, 0, 0.49623599) 51%);
}
.four__contenido {
  line-height: 15px;
}
.four__contenido p {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.four strong {
  font-size: 16px;
}
.qcontacto {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/index.png);
  opacity: 0.9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 257px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.qcontacto__title {
  background: #222222;
  background: linear-gradient(-195deg, rgba(34, 34, 34, 0.6) 35%, rgba(34, 34, 34, 0.6) 100%);
  color: #FFF;
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 330px;
  font-size: 30px;
}
footer {
  background-color: #1A3A58;
  color: #ffff;
  padding: 10px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__box__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
      grid-template-areas: "address address" "ayuda redes";
}
footer .footer__box__body-address {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: address;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__box__body-address p {
  font-size: 12px;
  text-align: center;
}
footer .footer__box__body-ayuda {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ayuda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 25px;
  font-family: 'Inter', sans-serif;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
footer .footer__box__body-ayuda a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer__box__body-socialmedia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
