@import "variables.less";
@import "globals.less";
* {
	box-sizing: border-box;
}
header {
	display: flex;
	height: 80px;
	background-color: #1A3A58;
	color: #FFF;
	text-transform: uppercase;

  h1{
    text-align: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
	  text-transform: uppercase;
	  margin: 15px 10px 15px 10px;
    display: flex;
    padding: 2px;
    border-left: 2px solid #D8A800;
  }
  h2{
    justify-content: space-between;
    margin-left: 30px;
    border-bottom: 2px solid #D8A800;
  }
  .menu__img{
   margin: 10px;
   position: fixed;
   top: 0;
   right: 0;
  }
}
//index
.principal{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/index.png);
	opacity: .9;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	width: auto;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  &__contenido {
		background: rgb(34,34,34);
    background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
		width: 100%;
		padding: 30px;
    position: absolute;
    bottom: 267px;

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      border-bottom: 2px solid #D8A800;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 31px;
      color:#FFF;
    }
    strong{
      font-size: 35px;
    }
		h2 {
			font-size: 32px;
			font-weight: 500;
			color: @color-white;
			border-bottom: 2px solid @color-primary;
			margin: 10px;
		}
	}
}
.contentindex{
  text-align: center;
   &__txt1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    border: 2px solid #D8A800;
    border-radius: 30px;
    margin: 48px;
    padding: 10px;
    line-height: 25px;
   } 
   strong{
    font-size: 30px;
  }
}
.objetivos{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img1.PNG);
	opacity: .9;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	width: 100vw;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  &__contenido {
		background: rgb(34,34,34);
    background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
		width: 100%;
		padding: 30px;
    bottom: 267px;
    p:nth-child(1){
      margin-top: 0;
      margin-bottom: 1rem;
      border-bottom: 2px solid #D8A800;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      line-height: 25px;
      color:#FFF;
    }
    p:nth-child(2){
      margin-top: -14px;
      margin-bottom: 1rem;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      line-height: 10px;
      color:#FFF;
    }
    strong{
      font-size: 30px;
    }
  }
}
.arrow{
  &__contenido{
    max-width: 100%;
    margin: 0 auto;
    background-image: url(/images/iconos/arrow_index.svg);
    opacity: .9;
    background-position: right top;
    background-size: 170px;
    background-repeat: no-repeat;
    margin-top: 50px;

    width: auto;
    height: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

    text-align: center;
    margin-top: 80px;
    p{
      line-height: 30px;
      text-align: center;
      font-size: 30px;
     }
  }
}
.ajedrez{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img2.jpg);
	opacity: .9;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	width: auto;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  
  &__contenido {
		background: rgb(34,34,34);
    background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
		width: 100%;
		padding: 30px;
    position: absolute;
    bottom: -222vw;
    img{
      width: auto;
	    height: 95px;
      position: absolute;
      bottom: 15vw;
    }
    p{
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 29px;
      line-height: 26px;
      color:#FFF;
      text-align: right;
      position: relative;
      bottom: -8vw;
    }
    strong{
      font-size: 30px;
      color:#FFF;
      line-height: 15px;
    }
  }
}
.utilidades{
  text-align:justify;
  font-size: 20px;
  margin: 35px;
  line-height: 26px;
  strong{
   font-size: 30px;
  }
}
.especialistas{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/img3.jpg);
	opacity: .9;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	width: auto;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;

  &__contenido {
		background: rgb(34,34,34);
    background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
		width: 79%;
		padding: 30px;
    position: relative;
    bottom: -49px;
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      border-bottom: 2px solid #D8A800;
      padding: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      color:#FFF;
      line-height: 20px;
    }
  }
}
.implementacion{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/iconos/chek_index.svg);
	opacity: .9;
	background-position: right top;
	background-size: 170px;
	background-repeat: no-repeat;
  margin-top: 50px;

	width: auto;
	height: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  text-align: center;
  font-size: 25px;
  p{
    font-size: 20px;
    margin-bottom: 98px;
    line-height: 30px;
  }
  strong{
    font-size: 30px;
   }
}
//Quienes somos
.qsomos{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/qsomos.jpg);
  opacity: .9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  width: auto;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title{
  background: rgb(34,34,34);
  background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
  width: 100%;
  padding: 27px;
  position: absolute;
  bottom: 370px;
  margin-top: auto;
  }
  P{
    color: #FFF;
    font-size: 27px;
    border-left: 2px solid #D8A800;
  }
  strong{
    font-size: 50px;
    line-height: 30px;
  }
}
.one{
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 45px 0px 0px 45px; 
  background: rgb(12,29,46);
  background: linear-gradient(-195deg, rgba(12,29,46,0.5) 35%, rgba(12,29,46,0.5) 51%);
  color: #FFF;
  text-align: justify; 
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  &__contenido{
    line-height: 15px;
    p{
     font-family: 'Inter', sans-serif;
     font-size: 12px
    } 
  }
  strong {
    font-size: 16px
  }
}
.two{
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 0px 45px 45px 0px; 
  background: rgb(216,168,0);
  background: linear-gradient(-195deg, rgba(216,168,0,0.5942752100840336) 35%, rgba(216,168,0,0.4962359943977591) 51%);
  text-align: justify; 
  display: flex;
  justify-content: center;
  align-items: center;
  &__contenido{
    line-height: 15px;
    p{
     font-family: 'Inter', sans-serif;
     font-size: 12px
    } 
  }
  strong {
    font-size: 16px
  }
}
.three{
  margin: 12px 0px 25px;
  width: 328px;
  height: 131px;
  padding: 10px;
  border-radius: 50px 0px 0px 50px; 
  background: rgb(12,29,46);
  background: linear-gradient(-195deg, rgba(12,29,46,0.5) 35%, rgba(12,29,46,0.5) 51%);
  color: #FFF;
  text-align: justify; 
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  &__contenido{
    line-height: 15px;
    p{
     font-family: 'Inter', sans-serif;
     font-size: 12px
    } 
  }
  strong {
    font-size: 15px
  }
}
.four{
  margin: 25px 0px 25px;
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 0px 45px 45px 0px; 
 
  text-align: justify; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background: rgb(216,168,0);
  background: linear-gradient(-195deg, rgba(216,168,0,0.5942752100840336) 35%, rgba(216,168,0,0.4962359943977591) 51%);
  &__contenido{
    line-height: 15px;
    p{
     font-family: 'Inter', sans-serif;
     font-size: 12px
    } 
  }
  strong {
    font-size: 16px
  }
}
//Contacto
.qcontacto{
  max-width: 100%;
  margin: 0 auto;
  background-image: url(/images/mobile/index.png);
	opacity: .9;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;

	width: auto;
	height: 257px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  &__title{
    background: rgb(34,34,34);
    background: linear-gradient(-195deg, rgba(34,34,34,0.6) 35%, rgba(34,34,34,0.6) 100%);
		color: #FFF;
    width: 57%;
    height: 105px;
		padding: 31px;
    position: absolute;
    bottom: 330px;
    font-size: 30px;
    right: 0px;
    p{
      border-left: 2px solid #D8A800;
      align-items: right;
      line-height: 25px;
      text-align: right;
    }
  }
}
.infoContacto{
   margin: 20px;
  &__one{
    margin: 0px 0px 15px 150px;
    width: 191px;
    text-align: justify; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
  &__two{
    width: 191px;
    text-align: justify;
    font-family: 'Inter', sans-serif;  
    font-size: 14px;
  }
  &__three{
    margin: 0px 0px 0px 150px;
    width: 191px;
    text-align: justify; 
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
  }
}
//login
.login{
  background: rgb(12,29,46);
  background: linear-gradient(-195deg, rgba(12,29,46,0.5) 35%, rgba(12,29,46,0.5) 51%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 60px 30px;
  padding: 20px;
  border-radius: 20px;
  img{
    align-items: center;
    width: 100px;
    height:auto;
  }
  &__title.title{
    margin-bottom: 30px;
    font-size: 16px;
    border-bottom: 2px solid #D8A800;
  }
  &__formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    &__box{
      .form-group{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        width: 300px;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;

        label{
          text-align: center;
          font-size: 1.6rem;
        }

        .icono{
         display: flex;
         gap:10px;
         img{
           width: 20px;
          }     
        }
      }
    }
    button{
      background: #1A3A58;
      border-color: #1A3A58;
      font-size: 13px;
      color: white !important;
      font-weight: 600;
      width: 100px;
      height:auto;
      display: flex;
      align-items: center;
      justify-content: center; 
    }
    .form-group.form-check{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } 
  .content-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    label{
        font-size: 1.4rem;
    }
    input{
        width: 300px;
    }
    button{
        text-align: center;
        width: 100%;
        background-color: #020202;
        border: none;
        font-size: 1.4rem;
        margin: 20px auto;
    }
   .modal-title{
    font-size: 2rem;
    }
  }
} 
//usuario
.usuario{
  margin: 30px;
  .user{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #D8A800;
    img{
      width: 45px;
      height: 45px;
    }
  }
}  
.caja{
  margin-bottom: 150px;
  margin-top: 150px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: space-evenly;
  img{
    width: 30px;
    height: 30px;
  }
}
footer{
  background-color: #1A3A58;
  color: #ffff;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer__box{

    &__body{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "address address" 
                           "ayuda redes";
      &-address{
        grid-area: address;
        align-items: center;
        display: flex;
        flex-direction: column;
        p{
          font-size: 12px;
          text-align: center;
       }
      }
      &-ayuda{
        grid-area: ayuda;
        display: flex;
        position: relative;
        top: 25px;
        font-family: 'Inter', sans-serif;
        align-items: left;
        a{
          justify-content: center;
        }
      }
      &-socialmedia{
        grid-area: redes;
        display: flex;
        flex-direction: column;
        text-align: right;
      }
    }
  }
}