footer 
    .footer__foot 
        .rights
            p INGENIERIA INTEGRAL
        p.divisor #[strong |]
        .link__jmc 
            a(href="https://jmcsoluciones.com" target="_blank") Desarrollado por #[strong JMC Soluciones]