footer
    .footer__box
        .footer__box__body
            .footer__box__body-address 
                img(src="images/iconos/ubicacion.svg", alt="ícono de ubicación")
                p Priv. Rosalia Monroy # 103, Barrio de la Estación, Aguascalientes
            
            .footer__box__body-ayuda
                    a(href="#") 
                        img(src="images/iconos/help.svg", alt="Ícono de Ayuda")

            .footer__box__body-socialmedia
                h2 SÍGUENOS
                .footer__box__body-socialmedia-icons
                    a(href="https://facebook.com") 
                        img(src="images/iconos/facebook.svg", alt="Ícono de facebook")
                    a(href="https://instagram.com") 
                        img(src="images/iconos/instagram.svg", alt="Ícono de instagram")
                    a(href="https://gmail.com") 
                        img(src="images/iconos/gmail.svg", alt="Ícono de gmail")
        script(src="js/app-dist.js")