header
    h1 Ingenieria #[br]Integral
    nav.menu 
        section.menu__container 
            ul.menu__links 
                h2 Menú
                li.menu__item 
                    a(href="index.html").menu__link Inicio
                li.menu__item 
                    a(href="proximascitasU.html").menu__link Proximas citas
                li.menu__item 
                    a(href="bitacoraU.html").menu__link Bitacoras de servicios
                li.menu__item 
                    a(href="descargasU.html").menu__link Descargas
                li.menu__item 
                    a(href="login.html").menu__link Cerrar Sesion 
            .menu__hamburger 
                img(src="images/iconos/menu.svg" alt="icono de menu").menu__img