extend ../components/template.pug
block content 
    .titulo__bitacoraU 
        p #[strong Bitacora de Servicios]
    .buscar__bitacoraU 
        <label for="buscador">Buscar:</label>
         <input type="search" id="buscador" name="q" placeholder="Escribe tu busqueda aqui">
         <input type="submit" value="Buscar">
    table.table.table-striped.table-hover
                    thead 
                        tr                  
                            th id
                            th Fecha
                            th Detalles 
                    tbody 
                        tr 
                            td 001
                            td 08/18/2023
                            td 
                                a(href="#verzualizarProductoModal" data-toggle='modal') detalles... 
                        tr 
                            td 002
                            td 02/30/2023 
                            td 
                                a(href="#verzualizarProductoModal" data-toggle='modal') detalles...      