extend ../components/template.pug
block content 
    .titulo__descargasU 
        p #[strong Descargas]
    .buscar__descargasU 
        <label for="buscador">Buscar:</label>
         <input type="search" id="buscador" name="q" placeholder="Escribe tu busqueda aqui">
         <input type="submit" value="Buscar">