extend ../components/template-usuario.pug
block content 
    .titulo__descargasU 
        p #[strong Descargas]
    .buscar__descargasU 
        label(for='buscador') 
        input(type='text' placeholder='Search..' name='search')
        button(type='submit') Buscar