extend ../components/template.pug
block content
    .container
        section.principal
            .principal__contenido
                p LO FAMILIAR  #[br] lo volvemos #[br] #[strong INSTITUCIONAL]
        section.contentindex
            .contentindex__txt1
              p SOLUCIONES #[br] #[strong EFICACES] #[br] A SU EMPRESA
        section.objetivos
            .objetivos__contenido
                p DEFINIMOS  #[br] #[strong OBJETIVOS #[br] PUNTUALES]
                p PARA TU EMPRESA
        section.arrow 
            .arrow__contenido
                p ACELERA LA #[br] #[strong PRODUCTIVIDAD] DE TU #[br] #[strong EQUIPO DE VENTAS]  
        section.ajedrez 
            .ajedrez__contenido
                img(src="images/iconos/ajedrez_index.svg", alt="Ícono de Pieza ajedrez")
                p DISEÑAMOS #[br] #[strong ESTRATEGIAS] #[br] #[strong ECHAS A LA MEDIDA]   
        section.utilidades
            .utilidades__contenido
                p #[strong INCREMENTE UTILIDADES] #[br] ESTABLECIENDO LAS  #[br] MEJORES #[strong ESTRATEGIAS FISCALES]     
        section.especialistas
            .especialistas__contenido
                p SOMOS #[br] #[strong ESPECIALISTAS] #[br] #[strong EN EMPRESAS FAMILIARES] 
        section.implementacion
            .implementacion__contenido
                p #[strong IMPLEMENTAMOS] #[br] REQUISITOS PARA #[strong CUMPLIR] #[br] CON LINEAMIENTO DE LA #[br] #[strong NOM-035]  ANTE LA #[strong STPS]