extend ../components/template-usuario.pug
block content 
  .titulo__citasU 
        p #[strong Proximas Citas]
  .buscar__citasU 
        label(for='buscador') 
        input(type='text' placeholder='Search..' name='search')
        button(type='submit') Buscar
  .proximascitasU
    .inicio
     form(action='')
        label(for='calendario')
            span Fecha Inicio
            input#calendario(type='date' name='calendario')
    .final
      form(action='')
        label(for='calendario')
            span Fecha Final
            input#calendario(type='date' name='calendario')
        input(type="submit")
