extend ../components/template.pug
block content
    .somos
        .qsomos 
            .qsomos__title 
                 p ¿QUIENES #[br] #[strong SOMOS?]
        .one 
            .one__contenido 
                p #[strong Nuestro objetivo] es ofrecer soluciones eficaces a las empresas familiares que han crecido de forma orgánica y sin formalidad en su estructura.  
        .two 
            .two__contenido 
                p Ofrecemos #[strong atención personalizada] en formato híbrido, esto es presencial y por plataforma digital. 
        .three 
            .three__contenido 
                p #[strong Formalizamos la estructura jerárquica] de la empresa, creando el organigrama que satisfaga las necesidades propias de la operación, perfiles de puestos, planeación de objetivos, matrices de capacitación y elaboración de contratos según la LFT.      
        .four   
            .four__contenido 
                p #[strong Formamos y capacitamos] en el área de ventas para crear un equipo fuerte, implementando herramientas de prospección, cierres de venta, argumentación, manejo de objeciones y comunicación asertiva.                        